<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model</title>
  <script  src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
  <input type="text" v-model="message">
<!--  <input type="text" v-bind:value="message" v-on:input="message = $event.target.value">-->
  <h2>{{message}}</h2>

<!--  lazy修饰符可以让数据在失去焦点或者回车的时候才会更新-->
  <input v-model.lazy="messages3"></input>
  <h2>@@@@@@{{messages3}}</h2>

  <!--  number可以让输入框中输入的内容自动转化成数字类型-->
  <input v-model.number="age"></input>
  <h2>{{age}}--{{typeof age}}</h2>

  <!--  trim使获取到的数据过滤掉内容左右两边的空格-->
  <input v-model.trim="name"></input>
  <h2>您输入的名字是：{{name}}</h2>

  <textarea v-model="messages"></textarea>
  <p>输入的内容是：{{messages}}</p>
</div>
<br>

<div id = 'app1'>
  <label for="male">
    <input type="radio" id="male" value="男" v-model="sex">男
  </label>
  <label for="female">
    <input type="radio" id="female" value="女" v-model="sex">女
  </label>
  <h2>你选择的性别是：{{sex}}</h2>
</div>
<br>

<div id = app2>
<!--  1.checkbox单选框-->
  <label for="agreement">
    <input type="checkbox" id="agreement" v-model="isAgree">同意协议
  </label>
  <h2>您的选择是:{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>
  <br>
  <br>
  <br>
<!--  2.checkbox多选框-->
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="跑步" v-model="hobbies">跑步
  <input type="checkbox" value="游泳" v-model="hobbies">游泳
  <input type="checkbox" value="唱歌" v-model="hobbies">唱歌
  <h2>您的爱好是:{{hobbies}}</h2>
  <br>
<!--  值绑定-->
  <label v-for="item in originHobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies2">{{item}}
  </label>
  <h2>您的爱好是:{{hobbies2}}</h2>
  <br>
  <br>
<!--  3.选择一个-->
  <select name="abc" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="葡萄">葡萄</option>
    <option value="榴莲">榴莲</option>
    <option value="香蕉">香蕉</option>
  </select>
  <h2>您选择的水果是：{{fruit}}</h2>
  <br>
<!--  4.选择多个-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="葡萄">葡萄</option>
    <option value="榴莲">榴莲</option>
    <option value="香蕉">香蕉</option>
  </select>
  <h2>您选择的水果是：{{fruits}}</h2>
</div>
</body>


<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: "hello",
      messages: "hh",
      messages3:"hhhhhhhhhh",
      age: 0,
      name: " "
    }
  })

  const app1 = new Vue({
    el: '#app1',
    data: {
      message: "hello",
      sex: "男"
    }
  })

  const app2 = new Vue({
    el: '#app2',
    data: {
      isAgree: true,//单选框，布尔值
      hobbies: [] ,//多选框，数组类型
      fruit: "榴莲",
      fruits: [],
      originHobbies: ["篮球","唱歌","画画","旅游","看电视"],
      hobbies2: []

    }
  })
</script>

<style type="text/css">

</style>
</html>